.header {
  margin: 0 auto;
  width: 1400px;
  nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.navbar-menu {
  display: flex;
  text-transform: uppercase;
}
.navbar-item {
  & a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 55px;
  }
  :hover {
    background-color: #f1f1f1;
  }
}
.navbar-logo .navbar-logo-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fa4c6f;
  text-transform: none;
  margin-right: 100px;
}
.profile {
  margin-left: auto;
  a {
    margin-right: 0;
  }
}